<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PxlArt</title>
    <meta name="description" content="Tool for creating pixel drawings">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/games" rel="stylesheet">
    <link href="./css/index.css" rel="stylesheet" type="text/css">
    <link href="./css/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/public-pixel" rel="stylesheet">

</head>
<body>

<div id="app" style="min-height: 100vh;background-color: #121212; color:white;">

    <v-container class="d-flex align-items-center" fluid style="background-color: #333333; min-height: 100vh;">
        <v-container>

        <v-row justify="center" align-items="center" class="ga-8" >
            <v-col align="center" justify="evenly" class="border-md rounded" cols="2" style="min-height: 80vh;background-color: #555555;">
                <h1 id="title" style="font-family: 'Public Pixel', sans-serif; font-size: 1.5vw; padding-bottom: 3%;">PxlArt</h1>
                <input id="color1" style="display: flex;" class="w-100" type="color" value="#ffffff" />
                <label class="pb-2" for="color1"><i>Background Color</i></label>

                <input id="color2" style="display: flex;" class="w-100" type="color" />
                <label class="pb-2" for="color2"><i>Main Color</i></label>

                    <v-text-field id="width-val" name="width" v-model="textFieldValue" label="Width"></v-text-field>

                    <v-text-field id="height-val" v-model="textFieldValue2" label="Height"></v-text-field>

                <v-btn v-on:click="lightOn = !lightOn" id="gridOff" class="d-flex mb-3" variant="tonal">
                    <div v-if="lightOn">Grid Off</div>
                    <div v-else>Grid On</div>
                </v-btn>

                <v-btn-toggle v-model="toggle" class="mb-3" base-color="#666" color="#999">
                    <v-btn v-on:click="colorGrab" id="colorGrab" class="">Color Grabber</v-btn>
                </v-btn-toggle>

                <v-btn v-on:click="downloadPNG" class="d-flex mb-3" variant="tonal">
                    Export
                </v-btn>

                <div class="d-flex justify-content-center">
                <v-switch id="switcher" v-on:click="eraseText" color="primary" class="d-flex mb-3" label="Erase" variant="tonal">
                    Erase
                </v-switch>
                </div>

                <v-btn v-on:click="clearText" class="d-flex" variant="tonal">
                    Clear
                </v-btn>



            </v-col>

            <v-col class="border-md rounded" cols="9" style="background-color: #555555;">
                <div id="gridLeader" style="height: 90vh; display: grid;background-color: white;">





                </div>
            </v-col>


        </v-row>


        </v-container>


    </v-container>





</div>



<script src="./js/bootstrap.bundle.min.js"></script>
<script
    src="./js/vue.global.prod.js">
</script>
<script src="./js/vuetify.min.js"></script>
<script src="./js/jquery-3.7.1.min.js"></script>
<script src="./js/dom-to-image.min.js"></script>
</body>
<script src="./js/script.js"></script>


</html>

